@CHARSET "ISO-8859-1";
#header {
	position: relative;
	width: 100%;
	float: left;
	clear: right;
	background-image: url("../images/sq_paper.jpg");
}

#logo {
	float: left;
	width: 350px;
}
#status {
	float: right;
}

#menu {
	position: absolute;
	bottom: 0px;
	right: 0px;
}