@CHARSET "ISO-8859-1";

body {
	font-family: sans-serif;
}

.click_option:hover {
	cursor: pointer;
}

.icon {
	margin: 1px;
	border: 1px solid #bbb;
	border-radius: 4px;
	box-shadow: 2px 2px #aaa;
	
}

.icon:active {
	box-shadow: -1px -1px #aaa;
}

.icon:hover {
	opacity: 0.6;
	background-color: rgb(0,0,0);
}

.overlay {
	position:absolute;
	background-color: rgba(3,3,3,0.6);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.window_icon {
	position: absolute;
	top: 0;
	right: 0;
}

.dialog {
	position: relative;
	margin: auto;
	background-color: #ddd;
	border: 1px solid #bbb;
	padding: 10px;
	border-radius: 5px;
	margin-top: 100px;
}

.dialog > label {
	display: inline-block;
}

.msg_area {
	font-size: 0.7em;
	float:right;
	margin-right: 15px;	
}